@using System.Globalization
@using tts.Web.Models.Common.Modals
@using tts.Web.Models.Products
@model IndexViewModel

@{
    Layout = null;
}
<script src="~/view-resources/Views/Products/_EditModal.js" asp-append-version="true"></script>


@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProduct")))
<form name="CategoryEditForm" role="form" class="form-horizontal">
     <input type="hidden" name="Id" value="@Model.Product.Id">
     <div class="modal-body">
        <div class="form-group row required">
            <label for="name " class="col-md-3 col-form-label">@L("Name")</label>
            <input type="text" class="form-control"  name="Name" value="@Model.Product.Name" required>
        </div>
        <div class="form-group row required">
            <label for="price " class="col-md-3 col-form-label">@L("Price")</label>
            <input type="text" class="form-control" name="Price" value="@Model.Product.Price.ToString("0.##", CultureInfo.InvariantCulture)" required>
        </div>
        <div class="form-group row ">
            <label for="discount " class="col-md-3 col-form-label">@L("Discount")</label>
            <input type="number" class="form-control"  name="Discount" value="@Model.Product.Discount" >
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("CategoryName")</label>

            @Html.DropDownList("CategoryId", Model.Categories, "--Chọn danh mục--", new
                {
                    @class = "form-control",
                    id = "CategoryDropdownEdit"
                })

        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label">@L("ImageUrl")</label>
            <input type="hidden" name="ExistingImageUrl" value="@Model.Product.ImageUrl">
            @if (!string.IsNullOrEmpty(Model.Product.ImageUrl))
            {
                <img id="imagePreview" name="imagePreview" src="@Model.Product.ImageUrl" alt="Hình ảnh sản phẩm" class="img-thumbnail mb-2" style="max-width: 150px;">
            }
            <label for="image " class="col-md-3 "></label>
            <input type="file" class="form-control" name="ImageUrl" id="image" accept="image/*">
        </div>
     </div>
     @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>


