@using tts.Web.Models.Common.Modals
@model tts.Web.Models.Products.IndexViewModel
@{
    Layout = null;
}


<div id="createModal" class="modal fade" tabindex="-1" aria-labelledby="createModalLabel " aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateProduct")))
            <form name="productCreateForm" role="form" class="form-horizontal" >
                <div class="modal-body">
                    <input type="hidden" name="Id">
                    <div class="form-group row required">
                        <label for="name " class="col-md-3 col-form-label">@L("Name")</label>
                        <input type="text" class="form-control" name="Name" required>
                    </div>
                    <div class="form-group row required">
                        <label for="price " class="col-md-3 col-form-label">@L("Price")</label>
                        <input type="number" class="form-control" name="Price" step="0.01" min="0" required lang="en">
                    </div>
                    <div class="form-group row">
                        <label for="discount " class="col-md-3 col-form-label">@L("Discount")</label>
                        <input type="text" class="form-control" name="Discount" max="100" min="0" step="0.01">
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("CategoryName")</label>
                        @Html.DropDownList("CategoryId", Model.Categories, "--Chọn danh mục--", new
                            {
                                @class = "form-control", // tự đătj class và id cho nó 
                                id = "AssignedPersonCombobox" 
                            })

                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label">@L("ImageUrl")</label>
                        <img id="imagePreview" src="#" alt="Hình ảnh sản phẩm" class="img-thumbnail mb-2" style="max-width: 150px; display: none;">

                        @* <div class="mt-2"> *@
                        @* </div> *@
                        <input type="file" id="image" class="form-control" name="ImageUrl" accept="image/*" required>

                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

            </form>
        </div>
    </div>
</div>